@import "../../shared/colors.scss";

.feature-container { 
    display: flex;
    padding: 1.5rem 2rem 1.5rem 0;
    max-width: 350px;
    height: 200px;
}


i{
    background-color: $light-yellow;
    padding: 0.5rem 0.9rem;
    border-radius: 50px;

}

.feature-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 900;
    padding: 0rem 1rem;
}

.feature-header {
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 0.5rem;
}

