<div class="toggle-cotainer" appDropdown>
    <div class="toggleButton"><i class="bi bi-list"></i></div>
    <div class="toggleMenu-container">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Offer</a></li>
            <li><a href="#">Menu</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><hr></li>
            <li><a href="#">Log In</a></li>
            <li><a href="#">Sign Up</a></li>
        </ul>
    </div>
</div>