@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');
@import '../shared/colors';

.landing-content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.landing-img {
    position: relative;
}

img {
    height: 490px;
    transform: rotate(20deg);
    position: absolute;
    left: 200px;
    top: 25px;
}

.landing-text {
    font-family: "Original Surfer", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    padding: 10rem 0 0 10rem;
    color: $peach;
}

@media screen and (max-width: 768px) {
    .landing-content-container {
        grid-template-columns: 1fr;
    }

    .landing-text {
        padding: 1rem 3.5rem 0 3.5rem;
        font-size: 60px;
        text-align: center;
        letter-spacing: 20px;
    }

    img {
        height: 245px;
        transform: none;
        left: 300px;
    }
}

@media screen and (max-width: 480px) {
    .landing-text {
        padding: 1rem 1.5rem 0 1.5rem;
        font-size: 40px;
    }

    img {
        height: 200px;
        transform: none;
        left: 125px;
    }
}

@media screen and (min-width: 1281px) and (max-width: 1440px) {
    .landing-text {
        font-size: 60px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .landing-text {
        font-size: 60px;
        padding-left: 6.5rem;
    }

    img {
        height: 450px;
        left: 150px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    img {
        height: 350px;
        left: 100px;
    }

    .landing-text {
        font-size: 40px;
        padding-left: 3rem;
        padding-top: 5rem;
    }

    .landing-content-container {
        margin-top: 5rem;
    }
}