$dark-blue: #27374D;
$med-blue: #526D82;
$light-blue: #9DB2BF;
$ex-light-blue: #DDE6ED;
$wood-brown: #B4846C;
$light-red: #F67280;
$light-yellow: #FFDE7D;
$dark-orange: #F07B3F;
$light-green: #99BC85;
$dark-red: #ef383a;
$peach: #EC7272;
$light-orange:#F7A76C;
