@import "./shared/colors.scss";
.backDrop {
    background: rgba($light-orange,0.5);
    height: 700px;
    width: 100vw;
    position: absolute;
    z-index: -1;
}


@media screen and (max-width: 480px) {
    .backDrop {
        height: 550px;
    }
}