<div class="footer-container">
  <div class="col-1">
    <div class="title">
      <p>The Anime Lab Cafe</p>
    </div>
    <div class="backLink">
      <i class="bi bi-facebook"></i>
    </div>
  </div>
  <div class="col-2">
    <div class="title">
      <p>Menu</p>
    </div>
    <div class="menuLinks">
      <a href="#">Home</a>
      <a href="#">Offer</a>
      <a href="#">Menu</a>
      <a href="#">About Us</a>
    </div>
  </div>
  <div class="col-3">
    <div class="title">
      <p>Contact</p>
    </div>
    <div class="contactInfo">
      <p class="mobileNumber">+8801936213353</p>
      <p class="location">Rupnagar, Mirpur R/A, Dhaka-1216</p>
    </div>
  </div>
</div>